* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-webpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.login-leftview {
    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr 3fr ;
    background-color: gold;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-rightview {
    display: grid ;
    justify-content: center;
    align-items: center;
    background-color: pink;
}